---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
      	<p>Mi nombre es BSK_159</p>
		<img src="/public/avatar.gif" alt="" width="100px" height="100px" id="avatar"/>
		</main>
		<Footer />
	</body>
</html>
