---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
		<p>Esto es mi vertedero... La vida me ha traído a abrirme una web, así que voy a estar acumulando cosas por aquí.</p>
		<img id="cara" src="./public/favicon.gif" alt="" height="150px">
		<style>
			#cara:hover{
			}
		</style>
		</main>
		<Footer />
	</body>
</html>
