---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				color: rgb(216, 216, 216);
			}
			ul li a:visited {
			}
		</style>
	</head>
	<body>
		<Header/>
		<main>
			<a href="/" style="font-size: 30px;">←</a>
			<section>
				<h2>Mis proyectos</h2>
				<h4>2023</h4>
				<ul>
					<li><a href="https://github.com/guillemmv/game-of-life-c/">Conway's game of life - Simulación celular en C.</a></li>
				</ul>
				<h4>2022</h4>
				<ul>
					<li><a href="https://github.com/guillemmv/links-rss/">Presentación de Redes Sociales - Una web simple para mostrar mis redes.</a></li>
					<li><a href="https://github.com/guillemmv/taskinator2000/">Taskinator2000 - Gestor de tareas hecho con Angular.</a></li>
					<li><a href="https://github.com/guillemmv/clipomodoro/">PomodoroCLI - Control de tiempos de productividad a través de terminal.</a></li>
				</ul>
			</section>
		</main>
	</body>
</html>
